<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="~/css/about_us_syle.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>


    <div class="about-section">
        <h1>Sectiunea despre noi</h1>
        <p>Noi suntem o echipa formata dintr-un bucatar pasionat si un om de afaceri</p>
        <p>Perfectionam retete pentru dumnevoastra in restaurantele noastre</p>

    </div>

    <h2 style="text-align:center">Echipa noastra</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/images/bucatareasa.jpg" alt="Andreea" style="width:100%">
                <div class="container">
                    <h2>Mihaela Popescu</h2>
                    <p class="title">Bucatar</p>
                    <p>Ea este cea care a incercat si a perfectionat toate retetele noastre</p>
                    <p>mihaela5617@yahoo.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/images/fondator.jpg" alt="Adrian" style="width:100%">
                <div class="container">
                    <h2>Alexandru Glisca</h2>
                    <p class="title">Fondator</p>
                    <p>Alexandru este omul din spatele acestei afaceri</p>
                    <p>ale34@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>