h3 {
    color: #e6ccff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    background-color: blueviolet;
    text-align: center;
}
.sidenav {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 220px;
    left: 130px;
    background: #eee;
    overflow-x: hidden;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #ac00e6;
        display: block;
    }

        .sidenav a:hover {
            color: #f2ccff;
        }

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid #ac00e6;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #f2ccff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ac00e6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Style the search field */
.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #7300e6;
    color: white;
    font-size: 17px;
    border: 1px solid #7300e6;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

    .example button:hover {
        background: #0b7dda;
    }

/* Clear floats */
.example::after {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: left;
    width: 40%;
    margin-bottom: 60px;
    margin-left: 60px;
    padding: 0 8px;
}

.header {
    padding: 8px;
    font-size: 8px;
    text-align: center;
    background: #7300e6;
    color: white;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



    /* Clear floats */
    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #7300e6;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
        background-color: #7300e6;
    }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}